[submodule "courses/nightmare"]
	path = courses/nightmare
	url = https://github.com/hoppersroppers/nightmare.git
[submodule "crackmes/NoraCodes"]
	path = crackmes/NoraCodes
	url = https://github.com/NoraCodes/crackmes.git
